name: xb-demo
type: drupal11
docroot: web
php_version: "8.3"
webserver_type: apache-fpm
xdebug_enabled: false
additional_hostnames: []
additional_fqdns: []
database:
    type: mariadb
    version: "10.11"
use_dns_when_possible: true
composer_version: "2"
corepack_enable: false
ddev_version_constraint: '>=1.24.0'
hooks:
    post-start:
        # Set up debugging.
        - exec: 'test -f .vscode/launch.json || (mkdir -p .vscode && cp .ddev/launch.json .vscode/)'
        # Run initial setup tasks.
        - exec: '.devpanel/init.sh'
web_environment:
    # Set up DevPanel variables.
    - APP_ROOT=$DDEV_COMPOSER_ROOT
    - WEB_ROOT=$DDEV_COMPOSER_ROOT/$DDEV_DOCROOT
    - DB_HOST=db
    - DB_PORT=3306
    - DB_USER=db
    - DB_PASSWORD=db
    - DB_NAME=db
    - DP_APP_ID=drupal_cms
    - DB_DRIVER=mysql
